{% extends "base.html" %}

{% block content %}
    <h3>Recuperar Contraseña</h3>
    <p>Escribe tu nombre de usuario para buscar tu cuenta.</p>
    
    <form method="POST" action="{{ url_for('forgot_password') }}">
        
        <div class="form-group">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        
        <button type="submit" class="btn btn-primario">Buscar</button>
    </form>
{% endblock %}